<div class="no-post-selected">
  <h4>
    Please select a post
  </h4>

  <h1>Cat Images! from placeholder blueprint generated helper !</h1>
  <img src={{cat-url w=300 h=310 }} />
  <img src={{cat-url}} />

</div>
